<li>
	{{burger_name}}

	<button class="change-state" data-id="{{id}}" data-newState="{{devoured}}">
		{{#if devoured}}Eat Me!{{else}}I'm Eaten!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
